
.footer {
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  
  
  .footer-links {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 5px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .footer-link {
    text-decoration: none; 
    display: flex; 
    align-items: center;
    gap: 8px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
    color: #ffdd57;
  }
  
  .link-text {
    margin-left: 5px;
  }