.title {
    text-wrap: balance;
  }
    
.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 65%;
  margin: 0 auto;
  padding: 0 10px 0px 10px;
  padding-bottom: 60px; 
}

.main-content {
  flex: 1;
  padding: 20px; 
}

.home-container {
  text-align: center; /* Center-aligns all content in the container */
  padding: 20px;
}

.profile-section {
  margin: 20px 0; /* Adds vertical spacing around the section */
}

.profile-image {
  width: 150px; /* Adjust size as needed */
  height: 150px;
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the set dimensions without distortion */
  margin: 20px auto; /* Centers the image horizontally */
}

.main-title {
  margin-top: 10px; 
  font-size: 2rem; 
  color: #ffdd57; 
}

.intro-section {
  max-width: 800px; 
  margin: 20px auto;
  padding: 20px;
  font-size: 1rem; 
  line-height: 1.6; 
  text-align: justify; 
}

/* CSS for home page card links */

.report-links {
  margin-top: 20px;
}

.reports-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.report-card {
  width: 300px; /* Fixed width */
  height: 150px; /* Height adjusts based on content */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

.report-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.report-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.report-details h3 {
  margin-top: 10px 0 5px;
}

.report-details p {
  font-size: 0.9rem;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  .body-container {
    max-width: 95%;
  }
}

.subtitle {
  margin-top: 10px; 
  font-size: 1.8rem; 
  color: #ffdd57;
}

.subsection {
  margin: 20px 0;
  border-top: #ccc 1px solid; 
}

.extra-title {
  border-bottom: #ccc 1px solid; 
  margin-bottom: 20px;
  padding-bottom: 20px;
}